/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"), local("NanumSquareRoundOTFL"), 
    url("NanumSquareRoundL.woff2") format("woff2"),
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"), local("NanumSquareRoundOTFR"), 
    url("NanumSquareRoundR.woff2") format("woff2")
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 700;
  src: local("NanumSquareRoundB"), local("NanumSquareRoundOTFB"), 
    url("NanumSquareRoundB.woff2") format("woff2")
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 800;
  src: local("NanumSquareRoundEB"), local("NanumSquareRoundOTFEB"),
    url("NanumSquareRoundEB.woff2") format("woff2")
}
