/* 나눔스퀘어라운드 웹폰트 v1.11 https://github.com/innks/NanumSquareRound */
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"), local("NanumSquareRoundOTFL"), /* computer */
    url("NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */
    url("NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("NanumSquareRoundL.ttf") format("truetype"), /* Safari, Android, iOS */
    url("NanumSquareRoundL.eot"), /* IE9 Compat Modes */
    url("NanumSquareRoundL.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
}
